# Python-related files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django-related files
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Deployment-related files
*.pid